langchain
langchain-community
langgraph
faiss-cpu
groq
python-dotenv
tiktoken
fastapi
uvicorn
sentence-transformers
groq
fastapi
uvicorn
langchain_groq
langchain_huggingface
## uvicorn server.main:app --reload